* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Font Circular Std

@font-face {
  font-family: "Circular-std";
  src: url("./fonts/CircularStd-Book.ttf");
}

@font-face {
  font-family: "Circular";
  src: url("./fonts/CircularStd-Book.ttf");
}

@font-face {
  font-family: "Circular-Light";
  src: url("./fonts/CircularStd-Light.otf");
}

@font-face {
  font-family: "Circular-Medium";
  src: url("./fonts/CircularStd-Medium.ttf");
}

globally appliable css

.direction-row-corners {
  display: flex;
  justify-content: space-between;
}

.direction-row-flex {
  display: flex;
  align-items: center;
}

.p-right {
  padding-right: 20px;
}

@media (max-width: 576px) { 
  .container{
    padding: 0 1.4rem !important;
  }
} */
