// Body
$body-bg: #06688c;

// Colors
$primary-color: #1c83aa;
$default-color: #698b98;
$black: #041424;
$white: #ffffff;
$pink: #eb70b6;
$yellow: #ffd233;
$light-yellow: #fff3b3;
$orange: #ffa800;
$dark-orange: #fb9538;
$dark-red: #dc3545;
$light-red: #ffcece;
$green: #0e9809;
$dark-green: #0b7808;
$light-blue: #85cae4;
